<header>
  <h1><%= link_to 'TestGuru', root_path %></h1>
  <div class="nav nav-admin">
    <span class="nav-admin title"><%= t('site_navigation.admin_panel_title') %></span>
    <%= render 'admin/navigation' %>
  </div>

</header>


