<header>
  <nav class="navbar navbar-dark bg-dark">
    <span class="navbar-text">
      <%= t('site_navigation.admin_panel_title') %>
    </span>
  </nav>

  <nav class="navbar navbar-light bg-light">
    <%= link_to 'TestGuru', root_path, class: 'navbar-brand' %>

    <span class="navbar-text">
      <%= render 'admin/navigation' %>
    </span>
  </nav>
</header>
