<header>
  <h1><%= link_to 'TestGuru', root_path %></h1>
  <div class="nav nav-admin">
    <span class="nav-admin title">TestGuru Admin Panel</span>
    <%= render 'admin/navigation' %>
  </div>

</header>


