<% if user_signed_in? %>
  <div class="nav-admin user">
    Welcome, <b><%= current_user.full_name.html_safe %></b> Guru | Admin Panel inside |
     <%= link_to 'Log Out', destroy_user_session_path, method: :delete %>
  </div>
<% else %>
  <p class="nav user">
    <%= link_to 'Log In', new_user_session_path %> or
    <%= link_to 'Sign Up', new_user_registration_path %>
  </p>
<% end %>

<hr>
