<tr>
  <td class="align-middle">
    <%= content_tag :span, badge.name, class: 'test-title' %>
  </td>
  <td class="align-middle">
    <%= badge_image(image_url: badge.image_url, image_size: 'small')  %>
  </td>

