<%= header_current_question(@test_passage) %>

<% percent = header_current_progress(@test_passage) %>

<%= content_tag :div, class: "progress", data: { percent: percent } do %>
  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
       aria-valuemin="0" aria-valuemax="100"></div>
<% end %>

<div class="card-header">
  <h5 class="card-title">
    <%= @test_passage.current_question.body %>
  </h5>
</div>
