<% if resource.errors.present? %>
  <div class="alert alert-danger" role="alert">
    <h2><%= t('.header', count: resource.errors.count) %></h2>

    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
