@import "colors";

.flash {
  border: 2px solid;
  padding: 10px;
  border-radius: 5px;

  &.alert {
    border-color: $flash-alert-color;
  }

  &.notice {
    border-color: $flash-notice-color;
  }
}
