@import 'colors';

.nav.user {
  text-align: right;
}

.nav-admin {
  padding: 15px;
  line-height: 35px;
  color: $primary-text-color;
  background-color: $secondary-color;

  &.title {
    font-size: 140%;
    font-weight: bold;
  }

  &.user {
    float: right;
  }
}
