<h1>Сообщение из Контактной Формы</h1>

<div>
  Вы получили сообщение из контактной формы сайта <%= link_to 'TestGuru Project', root_url %>:

  <p>Имя: <%= @name %></p>
  <p>Email: <%= @email %></p>
  <p>Сообщение: <%= @body %></p>
</div>
