<h1>Message from Contact Form</h1>

<div>
  You have received message from <%= link_to 'TestGuru Project', root_url %>:

  <p>Name: <%= @name %></p>
  <p>Email: <%= @email %></p>
  <p>Message: <%= @body %></p>
</div>
