<footer>
  <p>
    Copyright <%= current_year %>,
    project: <%= github_url(user: 'aritode', repo: 'test-guru') %>
    by: <%= github_url(user: 'aritode') %>
  </p>
  <p>
    Приложение для создания, управления и выполнения различных тестов.
    Тесты с вопросами и вариантами ответов.
  </p>
  <p>
    <%= link_to  "Учебный проект в онлайн-школе Thinknetica",
                  "https://thinknetica.com/", target: '_blank'%>
  </p>
</footer>
