<div>
  <hr>
  <p>
    Copyright <%= current_year %>,
    project: <%= github_url('aritode', 'test-guru') %>
    by: <%= link_to 'aritode', "https://github.com/aritode", target: '_blank' %>
  </p>
  <p>
    Приложение для создания, управления и выполнения различных тестов.
    Тесты с вопросами и вариантами ответов.
  </p>
  <p>
    <%= link_to  "Учебный проект в онлайн-школе Thinknetica",
                  "https://thinknetica.com/", target: '_blank'%>
  </p>
</div>
