<header>
  <nav class="navbar navbar-light bg-light">
    <%= link_to 'TestGuru', root_path, class: 'navbar-brand' %>

    <span class="navbar-text">
      <%= render 'layouts/navigation' %>
    </span>
  </nav>
</header>
